html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  position: relative; 
  flex-direction: column;
}

.display-screen {
  width: 80%;
  height: 30%;
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.69);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* background-color: #fff;
  border: 10px solid #000;
  border-radius: 10px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 20px;
}

.display-screen2 {
  width: 80%;
  height: 20%;
  background-color: #fff;
  border: 10px solid #000;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2rem;
}

.title_text {
  font-family: "ff-market-web", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 150px;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.draw_text {
  font-family: "ff-market-web";
  font-weight: 700;
  font-style: normal;
  font-size: 150px;
  color: rgb(37, 37, 37);
}


.prompt-div {
  width: 80%;
  height: 20%;
  /* background-color: #d5d5d5;
  border: 2px solid #000;
  border-radius: 10px; */
  background: rgba(255, 255, 255, 0.69);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
}

.prompt-option-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  flex-direction: row;
  width: 80%;
}

.prompt-box {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.69);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 80%;
  height: 60%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin: 2rem;
}

.progress-bar {
  width: 90%;
  height: 10%;
  background-color: rgb(198, 208, 204);
  border-radius: 8rem;
}

.progress-bar-mini {
  width: 50%;
  height: 10%;
  background-color: rgb(198, 208, 204);
  border-radius: 8rem;
}

.progress-bar-fill {
  height: 100%;
  /* background-color: rgb(41, 186, 104); */
  background: rgb(16,131,35);
  background: linear-gradient(90deg, rgba(16,131,35,1) 0%, rgba(67,185,133,1) 50%, rgba(163,236,167,1) 100%);
  width: 0%;
  border-radius: 8rem;
}

.animate {
  animation-name: fillAnimation;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes fillAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}



.button {
  background-color: rgb(197, 233, 218);
  border-radius: 8rem;
  height: 10%; 
  margin-top:5%;
  border: none;
  width: 50%;
}

.exit-button{
  background-color: rgb(236, 129, 110);
  border-radius: 8rem;
  border-radius: 8rem;
  padding: 20px;
  width: 300px;
  height: 50px;
  cursor: pointer;
  font-size: medium;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm-button{
  background-color: rgb(103, 232, 155);
  border-radius: 8rem;
  border-radius: 8rem;
  padding: 20px;
  width: 300px;
  height: 50px;
  cursor: pointer;
  font-size: medium;
}

.completion-option-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  bottom: 10%;
  grid-gap: 100px; 

}

#cursor {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 123, 255, 0.7); /* Use your desired color and opacity */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* To allow mouse events to pass through to elements underneath */
  z-index: 9999; /* To ensure the cursor is on top of other elements */
}

#error-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff0000; /* Use your desired background color */
  color: #ffffff; /* Use your desired text color */
  padding: 16px; /* Use your desired padding */
  border-radius: 4px; /* Use your desired border radius */
  z-index: 9999; /* Use your desired z-index */
}

#gallery {
  width: 100%;
  height: 200px;
  white-space: nowrap;
  margin-bottom: 20px;
}

#gallery .gallery-image-container {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  background: #CB1C8D;
  align-items: center;
  padding: 10px;
  text-align: center;
  /* background: linear-gradient(to bottom right, #ff5722, #e91e63); */
}

#gallery .gallery-image-container img  {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 80%;
}

.gallery-prompt {
  font-family: "ff-market-web", sans-serif;
  color: white;
  width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  align-self: center;
  margin-top: 5px;
  font-size: large;
  font-weight: bold;
}



#canvas {
  border: 1px solid red;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#startButton {
  background-color: rgb(197, 233, 218);
  border-radius: 8rem;
  height: 10%; 
  margin-top:5%;
  border: none;
  width: 50%;
}